@import uk.gov.hmrc.examplefrontend.models.Client
@import uk.gov.hmrc.examplefrontend.models.Agent

@this(layout: Layout, govukInput : GovukInput, errorSummary : GovukErrorSummary )
@(client: Client, agentForm: Form[Agent])(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Dashboard")) {

<h1 class="govuk-heading-xl">Dashboard</h1>
<h2 class="govuk-heading-s"> Username: @client.name </h2>
<h3 class="govuk-heading-s"> Your Client Reference Number (CRN): @client.crn </h3>

@if(client.arn.isDefined){
    <p id="arn-label" class="govuk-body">You're account is linked with <b>@client.arn</b></p>

    <div>
        <a class="govuk-button" data-module="govuk-button" href="@uk.gov.hmrc.examplefrontend.controllers.routes.DashboardController.arnRemove()" id="remove">
            Remove
        </a>
    </div>

    }else {
        @helper.form(action = uk.gov.hmrc.examplefrontend.controllers.routes.DashboardController.arnSubmit(), 'class -> "govuk-body") {
            @if(agentForm.errors("arn").nonEmpty) {
                @govukInput(Input(id = "arn", name = "arn",value = Some(agentForm.data("arn")), label = Label(content = Text("Enter ARN:")), hint = Some(Hint(content = Text("The ARN. For example, ARNNUMBER."))), errorMessage = Some(ErrorMessage(content = Text("Enter the ARN")))))
            }else{
                @govukInput(Input(id="arn",name = "arn",value = Some(agentForm.data("arn")),label = Label(isPageHeading = true,content = Text("Enter ARN:"))))
            }
                <button class="govuk-button" data-module="govuk-button" type="submit" id="submit">Add</button>
    }
}
<hr>
<div>
    <a class="govuk-link" type="submit" data-module="govuk-button" id="delete-user" href="@uk.gov.hmrc.examplefrontend.controllers.routes.DeleteClientController.areYouSure">
        Delete account
    </a>
</div>

}
