@import uk.gov.hmrc.examplefrontend.models.{User}
@this(layout: Layout, govukInput : GovukInput, errorSummary : GovukErrorSummary)

@(form: Form[User])(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("example-frontend")) {
    <h1 class="govuk-heading-xl">Example-frontend</h1>
    <!-- show error summary at top of page if form returns WITH ERRORS -->
    <a class="govuk-back-link" href="@uk.gov.hmrc.examplefrontend.controllers.routes.HomePageController.homepage">Back</a>
    @if(form.errors.nonEmpty) { @defining(form.errors.map { error => ErrorLink(href = Some(s"#${error.key}"), content = Text(messages(error.message, error.args:_*)))}) { errorLinks =>
    @errorSummary(ErrorSummary(errorList = errorLinks,title = Text(messages("error.summary.title"))))}
    }
    @helper.form(action = uk.gov.hmrc.examplefrontend.controllers.routes.LoginController.loginSubmit(), 'class -> "govuk-body") {

        @if(form.errors("crn").nonEmpty) {
            @govukInput(Input(id = "crn", name = "crn",value = Some(form.data("crn")), label = Label(content = Text("Enter CRN:")), hint = Some(Hint(content = Text("Your CRN. For example, FDSGDGSDGDS."))), errorMessage = Some(ErrorMessage(content = Text("Enter your CRN")))))
            @govukInput(Input(inputType = "password", id = "password",name = "password", value = Some(form.data("password")),label = Label(isPageHeading = true,content = Text("Enter Password:"))))
        }else if(form.errors("password").nonEmpty){
            @govukInput(Input(id="crn",name = "crn",value = Some(form.data("crn")),label = Label(isPageHeading = true,content = Text("Enter CRN:"))))
            @govukInput(Input(id = "password", name = "password",value = Some(form.data("password")), label = Label(content = Text("Enter Password:")), hint = Some(Hint(content = Text("Your Password"))), errorMessage = Some(ErrorMessage(content = Text("Enter your password")))))
        }else{
            @govukInput(Input(id="crn",name = "crn",value = Some(form.data("crn")),label = Label(isPageHeading = true,content = Text("Enter CRN:"))))
            @govukInput(Input(inputType = "password", id = "password",name = "password", value = Some(form.data("password")),label = Label(isPageHeading = true,content = Text("Enter Password:"))))
        }
    <button class="govuk-button" data-module="govuk-button" type="submit" id="submit">Next</button>
    }
}
