
@import uk.gov.hmrc.examplefrontend.models.{UserContactNumber, UserContactNumberForm, Client}

@this(layout: Layout, govukInput : GovukInput, errorSummary : GovukErrorSummary )
@(form: Form[UserContactNumber], client: Client)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Update Contact Number"), Some(client)) {
<a class="govuk-back-link" data-module="govuk-button"
   href="@uk.gov.hmrc.examplefrontend.controllers.routes.DashboardController.dashboardMain">
  Back
</a>

<h1 class="govuk-heading-xl">Update Contact Number</h1>
<div class="govuk-details__text govuk-body">
  We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post.
</div>

  @helper.form(action = uk.gov.hmrc.examplefrontend.controllers.routes.UpdateClientController.submitUpdatedContactNumber,'class -> "govuk-body"){
    @if(form.errors("contactNumber").nonEmpty){
      @govukInput(Input(
        id = "contact-number" ,
        inputType = "number",
        name = "contactNumber",
        value = Some(""),
        hint = Some(Hint(content = Text("Enter your contact number, for example - '07766445544' "))),
        errorMessage = Some(ErrorMessage(content = Text("Please provide a valid number"))),
        label = Label(isPageHeading = true, classes = "govuk-label--l, name, govuk-input-error", content = Text("New Contact Number:"))
      ))
    }else{
      @govukInput(Input(id = "contact-number" ,inputType = "number", name = "contactNumber", value = Some(form.data("contactNumber")),
        hint = Some(Hint(content = Text("Enter your contact number, for example - '07766445544' "))),
        label = Label(isPageHeading = true, classes = "govuk-label--l, name, govuk-input-error", content = Text("New Contact Number:"))))
    }


    <button class="govuk-button" id="submit" data-module="govuk-button" type="submit">Save and continue</button>
  }
}