@import uk.gov.hmrc.examplefrontend.models.Client
@this(layout: Layout, govukInput : GovukInput, errorSummary : GovukErrorSummary )
@(client: Client)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("Modify Account")) {
<a class="govuk-back-link" data-module="govuk-button"
   href="@uk.gov.hmrc.examplefrontend.controllers.routes.DashboardController.dashboardMain">
    Back
</a>

<h1 class="govuk-heading-xl">Modify Account</h1>
    <form action="example/NameInput">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name
                </dt>
                <dd class="govuk-summary-list__value" id="name-value">
                    @client.name
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" id="changeButton" href="uk.gov.hmrc.examplefrontend.controllers.routes.">
                        Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Business Name
                </dt>
                <dd class="govuk-summary-list__value" id="business-value">
                    @client.businessName
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Contact Number
                </dt>
                <dd class="govuk-summary-list__value" id="contact-value">
                    @client.contactNumber
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" id="changeButton" href="@uk.gov.hmrc.examplefrontend.controllers.routes.UpdateClientController.updateContactNumber">
                        Change<span class="govuk-visually-hidden"> name</span>
                    </a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Property Details
                </dt>
                <dd class="govuk-summary-list__value" id="property-value">
                    @client.propertyNumber , @client.postcode
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="@uk.gov.hmrc.examplefrontend.controllers.routes.UpdateClientController.OpenUpdateClientProperty">
                        Change<span class="govuk-visually-hidden">Property Details</span>
                    </a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                        Business Type
                </dt>
                <dd class="govuk-summary-list__value" id="PasswordValue">
                    <p class="govuk-body">@client.businessType</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="">
                        Change<span class="govuk-visually-hidden"> contact details</span>
                    </a>
                </dd>
            </div>
        </dl>
    </form>
}